//noinspection CssInvalidAtRule
@import-normalize;
*{margin:0;padding:0;}
*{box-sizing: border-box;}
*::before{box-sizing: border-box;}
*::after{box-sizing: border-box;}
ol,ul{
  list-style: none;
}
a{
  text-decoration: none;
  color:inherit;
}