//noinspection CssInvalidAtRule
@import-normalize;
@import "helper";
*{margin:0;padding:0;}
*{box-sizing: border-box;}
*::before{box-sizing: border-box;}
*::after{box-sizing: border-box;}
ol,ul{
  list-style: none;
}
a{
  text-decoration: none;
  color:inherit;
}

body {
  font-family: $font-hei;
  font-size: 16px;
  line-height: 1.2;
  background: #f5f5f5;
}
.icon{
  width:1em ;
  height:1em;
}

button{
  font-family:inherit;
}
:focus{
  outline:none;
}

.clearfix::after{
  content:'';
  display:block;
  clear: both;
}

.oneLine{
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis ;
}




